* {
	position: relative;
	margin: 0;
	padding: 0;
}

html {
	overflow-x: hidden;
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	line-height: 2.4rem;
	color: $charcoal;
}

a {
	text-decoration: none;
	@include transition(color 2s ease-in);
	color: $orange;
	
	&:hover {
		color: darken($orange, 5%);
	}
}

::selection {
	background: lighten($orange, 5%);
	opacity: 0.8;
	color: $white;
	text-shadow: 0 0 1px $charcoal;
}

::moz-selection {
	background: lighten($orange, 5%);
	opacity: 0.8;
	color: $white;
	text-shadow: 0 0 1px $charcoal;
}

.oldies {
	background: lighten($charcoal, 20%);
	color: $white;
	text-align: center;
	padding: 1rem 0;
}