// grid variables that override neat

@import "../libs/neat/neat-helpers"; 

// Change the grid settings
//$column: 90px;
//$gutter: 30px;
$grid-columns: 12;
$max-width: em(1140); // just a starter

// Define your breakpoints
$mobile: new-breakpoint(min-width 320px max-width 480px 4);
$tablet: new-breakpoint(min-width 481px max-width 1023px 8);
$desktop: new-breakpoint(min-width 1024px  max-width 1280px 12);

//$visual-grid: true;
