* {
	position: relative;
	margin: 0;
	padding: 0;
}

html {
	overflow-x: hidden;
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
}

a {
	text-decoration: none;
	@include transition(color 2s ease-in);
	
	&:hover {

	}
}

::selection {
	background: aqua;
}

::moz-selection {
	background: aqua;
}

.oldies {
	background: lighten($charcoal, 20%);
	color: $white;
	text-align: center;
	padding: 1rem 0;
}