// grid variables

@import "../libs/neat/neat-helpers"; 

// Change the grid settings
// $column: 90px;
// $gutter: 30px;
$grid-columns: 12;
$max-width: em(1140); // just a starter

// Define your breakpoints
$mobile: new-breakpoint(max-width 480px 4);
$tablet: new-breakpoint(max-width 768px 8);

.wrapper {
	@include outer-container;
}